.author {
  display: flex;
  align-items: center;
  color: $color-tomato;

  @media (min-width: $media-tab-min) {
    font-size: 14px;
  }

  &__ava {
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }
}
