.comments-btn {
  display: flex;
  align-items: center;

  &__count {
    position: relative;
    z-index: 1;
    margin-right: 5px;
    padding: 2px;
    display: inline-flex;
    color: $color-white;
    font-size: 9px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      border-radius: 50%;
      display: block;
      width: 13px;
      height: 13px;
      background-color: $color-tomato;
      transform: translate(-50%, -50%);

      @media (min-width: $media-tab-min) {
        width: 20px;
        height: 20px;
      }
    }

    @media (min-width: $media-tab-min) {
      margin-right: 13px;
      font-size: 14px;
    }
  }

  &__icon {
    width: 12px;
    height: 10px;
    color: $color-d9;
    transition: 0.15s ease-in opacity, 0.15s ease-in color;

    @media (min-width: $media-tab-min) {
      width: 20px;
      height: 16px;
    }
  }

  &:focus-visible:not(:active) &__icon,
  &:hover:not(:focus):not(:active) &__icon {
    color: $color-tomato;
  }
  &:active &__icon {
    opacity: 0.5;
  }
}
