.header-nav {
  justify-content: center;

  &__list {
    border-bottom: 2px solid $color-d9;
    padding-bottom: 8px;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 60px;
  }

  &__link {
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.15s ease-in color;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -13px;
      border-bottom: 2px solid transparent;
      display: block;
      width: 100%;
      height: 2px;
      transition: 0.15s ease-in border-color;
    }

    &:focus-visible,
    &:hover,
    &:active,
    &.active {
      color: $color-tomato;
    }

    &:active::before,
    &.active::before {
      border-color: $color-tomato;
    }
  }
}
