.search {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    border-radius: $border-rad-hard;
    border: none;
    padding: 8px 31px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    background-color: $color-f4;

    &::placeholder {
      color: $color-c4;
      font-size: 12px;
      font-weight: 400;

      @media (min-width: $media-tab-min) {
        padding: 13px 30px;
        font-size: 20px;
      }
    }

    @media (min-width: $media-tab-min) {
      background-color: $color-white;
      font-size: 20px;
    }
  }

  &__input:focus-visible + &__label,
  &__input:hover + &__label {
    color: $color-tomato;
  }

  &__input:active + &__label {
    opacity: 0.5;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    color: $color-c4;
    transition: 0.15s ease-in opacity, 0.15s ease-in color;

    @media (min-width: $media-tab-min) {
      padding-left: 30px;
    }
  }

  &__icon {
    height: 11px;
    width: 11px;

    @media (min-width: $media-tab-min) {
      width: 19px;
      height: 19px;
    }
  }
}
