.likes {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 7px 4px;
  color: $color-c4;

  @media (min-width: $media-tab-min) {
    display: grid;
  }

  &__btn {
    cursor: pointer;
    transition: 0.15s ease-in color, 0.15s ease-in opacity;

    &:focus-visible:not(:active),
    &:hover:not(:focus):not(:active),
    &--active {
      color: $color-lime;
    }

    &--down {
      transform: rotate(180deg);

      &:focus-visible:not(:active),
      &:hover:not(:focus):not(:active),
      &.likes__btn--active {
        color: $color-pink;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__count {
    font-size: 12px;
    font-weight: 500;

    @media (min-width: $media-tab-min) {
      font-size: 14px;
      color: $color-dark;
    }
  }
}
