$color-dark: #333;
$color-white: #fff;
$color-black: #000;

$color-f4: #f4f4f4;
$color-f3: #f3f3f3;
$color-ec: #ececec;
$color-e5: #e5e5e5;
$color-e4: #e4e4e4;
$color-d9: #d9d9d9;
$color-c4: #c4c4c4;
$color-ad: #adadad;
$color-99: #999999;
$color-97: #979797;
$color-66: #666666;
$color-16: #161616;

$color-orange: #cc6633;
$color-tomato: #833209;
$color-pink: #cc3361;
$color-lime: #a4cc33;

$color-grey-8d: #3333338d;
$color-grey-1a: #3333331a;

$border-rad: 7px;
$border-rad-bottom: 0px 0px 7px 7px;
$border-rad-hard: 30px;

$shadow-1: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

$media-mid-min: 510px;
$media-tab-min: 768px;
$media-desk-min: 1200px;
