.dropdown {
  position: relative;
  z-index: 2;

  &__inner {
    font-size: inherit;
  }

  &__content {
    z-index: 2;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    overflow: hidden;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.15s ease-in transform, 0.15s ease-in opacity;
    pointer-events: none;
  }

  &--open &__content {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
  }
}

.select-dropdown-btn {
  & svg:last-child {
    transition: 0.15s ease-in transform;
  }

  &--active {
    svg:last-child {
      transform: rotate(180deg);
    }
  }
}
